.todo {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px dashed black; 
  margin: 1%; 
  flex-basis: 23%;
}

.deleteBtn {
  background: none;
  border: none;
  align-self: flex-end;
  padding: 6px 6px 0 0;
  text-align: center; 
  font-size: 20px;
  font-weight: 700;

  //transform to be larger on hover without changing size of whole to-do card
  &:hover {
    color: red;
  }
}

.todoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em 1em 1em; 
}

#completedBox {
  width: 16px;
  height: 16px; 
}

.completedLabel {
  align-self: flex-end; 
}